h3{
    margin:5px;
    padding: 5px;
}

.btn-custom{
 border: none;   
}

#toolbar-admin{
    display: none;
h3{
    margin:5px;
    padding: 5px;
}

.btn-custom{
 border: none;   
}

#toolbar-admin{
    display: none;
}